---
swagger: "2.0"
info:
  description: APIs to interface with Cash Flow Forecasting entities.
  version: API 0.1
  title: "Intelligent Cash Flow Forecasting: REST API"
  termsOfService: Terms of service
  contact:
    name: CFF Flair team
    url: www.bottomline.com
    email: cff-flair@bottomline.com
  license:
    name: License of API
    url: API license URL
host: cffapp-qa1.saas-n.com
tags:
- name: Account Management Services
  description: Account Controller
- name: Company Management Services
  description: Company Controller
- name: ForecastView Management Services
  description: Forecastview Controller
- name: KPI Management Services
  description: Kpi Management Service Controller
- name: KPI Services
  description: Kpi Service Controller
- name: Transaction Categorization Services
  description: Transaction Category Controller
- name: Transaction Management Services
  description: Transaction Controller
- name: V1 - Account Management Services
  description: Account Service Controller
- name: V1 - Company Management Services
  description: Company Service Controller
- name: V1 - Counterparty Management Services
  description: Counter Party Service Controller
- name: V1 - ForecastView Management Services
  description: Forecast View Service Controller
- name: V1 - Transaction Management Services
  description: Transaction Service Controller
- name: account balances
  description: Account Balance Controller
- name: account-package-controller
  description: Account Package Controller
- name: audit-log-controller
  description: Audit Log Controller
- name: authroles
  description: Auth Roles Service Controller
- name: cash-position-controller
  description: Cash Position Controller
- name: currency rates
  description: Currency Rate Controller
- name: data-retrieval-controller
  description: Data Retrieval Controller
- name: forecast adjustments
  description: Adjustment Controller
- name: goals
  description: Goal Controller
- name: grid
  description: Grid Info Controller
- name: gridprofiles
  description: Grid Profile Controller
- name: insights
  description: Insight Controller
- name: machine learning
  description: ML Service Controller
- name: message-controller
  description: Message Controller
- name: plan-service-controller
  description: Plan Service Controller
- name: recurring-transaction-controller
  description: Recurring Transaction Controller
- name: tenantconfigs
  description: Tenant Config Service Controller
- name: tenants
  description: Tenant Service Controller
- name: test-data-controller
  description: Test Data Controller
- name: token-controller
  description: Token Controller
- name: transaction-reconciliation-controller
  description: Transaction Reconciliation Controller
- name: user-controller
  description: User Controller
- name: validation-controller
  description: Validation Controller
- name: what-if-analysis-controller
  description: What If Analysis Controller
paths:
  /cff/app/api/accountbalances/:
    delete:
      tags:
      - account balances
      summary: Delete account balance rows from the database table
      operationId: deleteUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/AccountBalanceRequestListModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountBalanceResponseListModel'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/accountbalances/batch:
    post:
      tags:
      - account balances
      summary: Create/Update account balance(s)
      operationId: addAccountBalancesUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfAccountBalanceModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountBalanceResponseListModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "1000":
          description: Error saving account balance(s)
      security:
      - JWT: []
  /cff/app/api/accountbalances/criteria:
    post:
      tags:
      - account balances
      summary: Returns list of account balances based on the search and filter criteria passed in request body.
      operationId: getAccountBalancesUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountBalanceResponseListModel'
        "201":
          description: Created
        "400":
          description: Invalid Search and Filter criteria.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: No account balances found.
      security:
      - JWT: []
  /cff/app/api/accountbalances/delete/:
    post:
      tags:
      - account balances
      summary: Delete (clear) account balance data provided from host system
      operationId: clearHostSystemDataUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/AccountBalanceRequestListModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountBalanceResponseListModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/connectToQuickbooks:
    get:
      tags:
      - account-package-controller
      summary: connectToQuickbooks
      operationId: connectToQuickbooksUsingGET
      produces:
      - '*/*'
      parameters:
      - name: creationTime
        in: query
        required: false
        type: integer
        format: int64
      - name: id
        in: query
        required: false
        type: string
      - name: lastAccessedTime
        in: query
        required: false
        type: integer
        format: int64
      - name: maxInactiveInterval
        in: query
        required: false
        type: integer
        format: int32
      - name: new
        in: query
        required: false
        type: boolean
      - name: token
        in: query
        description: token
        required: true
        type: string
      - name: valueNames
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/View'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/connectToQuickbooksDirect:
    get:
      tags:
      - account-package-controller
      summary: Intuit Connection Diectly
      operationId: connectToQBODirectUsingGET
      produces:
      - application/json
      parameters:
      - name: creationTime
        in: query
        required: false
        type: integer
        format: int64
      - name: id
        in: query
        required: false
        type: string
      - name: lastAccessedTime
        in: query
        required: false
        type: integer
        format: int64
      - name: maxInactiveInterval
        in: query
        required: false
        type: integer
        format: int32
      - name: new
        in: query
        required: false
        type: boolean
      - name: valueNames
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/QuickBookResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/disconnectQBO/{company}:
    get:
      tags:
      - account-package-controller
      summary: QBO Disconnect
      operationId: revokeTokenUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/oAuthKeys:
    get:
      tags:
      - account-package-controller
      summary: QBO Tenant Consumer Key save
      operationId: setOAuthConsumerKeysUsingGET
      produces:
      - application/json
      parameters:
      - name: appId
        in: query
        required: false
        type: string
      - name: clientId
        in: query
        required: false
        type: string
      - name: clientSecret
        in: query
        required: false
        type: string
      - name: description
        in: query
        required: false
        type: string
      - name: redirectURL
        in: query
        required: false
        type: string
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/oauth2redirect:
    get:
      tags:
      - account-package-controller
      summary: callBackFromOAuth
      operationId: callBackFromOAuthUsingGET
      produces:
      - '*/*'
      parameters:
      - name: code
        in: query
        description: code
        required: true
        type: string
      - name: creationTime
        in: query
        required: false
        type: integer
        format: int64
      - name: id
        in: query
        required: false
        type: string
      - name: lastAccessedTime
        in: query
        required: false
        type: integer
        format: int64
      - name: maxInactiveInterval
        in: query
        required: false
        type: integer
        format: int32
      - name: new
        in: query
        required: false
        type: boolean
      - name: realmId
        in: query
        description: realmId
        required: false
        type: string
      - name: state
        in: query
        description: state
        required: true
        type: string
      - name: valueNames
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/View'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/status/{company}:
    get:
      tags:
      - account-package-controller
      summary: QBO Connection Status
      operationId: getStatusUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/OAuthStatusResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/syncQBO/{company}:
    get:
      tags:
      - account-package-controller
      summary: "Sync accounts,bills, invoices by connecting to quickbooks"
      operationId: syncWithQuickBooksUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accountpackage/testConnectionToIntuit:
    get:
      tags:
      - account-package-controller
      summary: Intuit Connection Test
      operationId: testConnectionToIntuitUsingGET
      produces:
      - '*/*'
      parameters:
      - name: creationTime
        in: query
        required: false
        type: integer
        format: int64
      - name: id
        in: query
        required: false
        type: string
      - name: lastAccessedTime
        in: query
        required: false
        type: integer
        format: int64
      - name: maxInactiveInterval
        in: query
        required: false
        type: integer
        format: int32
      - name: new
        in: query
        required: false
        type: boolean
      - name: valueNames
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/accounts/:
    post:
      tags:
      - Account Management Services
      summary: addAccount
      operationId: addAccountUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: accountRequest
        description: accountRequest
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/AccountModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountResponseListModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - Account Management Services
      - accounts
      summary: Soft Delete accounts with given ids.
      operationId: deleteAccountUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: accounts
        description: accounts
        required: true
        schema:
          $ref: '#/definitions/AccountIdRequestListModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/accounts/batch:
    post:
      tags:
      - Account Management Services
      - accounts
      summary: Add or update account(s).
      operationId: addAccountsUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: accountRequest
        description: accountRequest
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfAccountModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountResponseListModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "1000":
          description: Error saving account(s)
      security:
      - JWT: []
  /cff/app/api/accounts/criteria:
    post:
      tags:
      - Account Management Services
      - accounts
      summary: Returns list of accounts based on the search and filter criteria passed in request body.
      operationId: getAccountsUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AccountResponseListModel'
        "201":
          description: Created
        "400":
          description: Invalid Search and Filter criteria.
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: No accounts found.
      security:
      - JWT: []
  /cff/app/api/adjustments/:
    post:
      tags:
      - forecast adjustments
      summary: Add or update forecast adjustment(s).
      operationId: addUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfAdjustmentModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AdjustmentResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - forecast adjustments
      summary: deletes forecast adjustments with given id(s)
      operationId: deleteUsingDELETE_2
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/AdjustmentListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/adjustments/delete/:
    post:
      tags:
      - forecast adjustments
      summary: deletes forecast adjustments with given id(s)
      operationId: deleteByViewIdsUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/AdjustmentListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/adjustments/viewId/{viewId}:
    get:
      tags:
      - forecast adjustments
      summary: Returns list of adjustments assosciated to view.
      operationId: getAdjustmentsUsingGET
      produces:
      - application/json
      parameters:
      - name: viewId
        in: path
        description: viewId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AdjustmentResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - forecast adjustments
      summary: deletes forecast adjustments with given view id
      operationId: deleteByViewUsingDELETE
      produces:
      - application/json
      parameters:
      - name: viewId
        in: path
        description: viewId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/audit/:
    get:
      tags:
      - audit-log-controller
      summary: getAudit
      operationId: getAuditUsingGET
      produces:
      - application/json
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AuditLogResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - audit-log-controller
      summary: add
      operationId: addUsingPOST_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: audit
        description: audit
        required: true
        schema:
          $ref: '#/definitions/AuditLogModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AuditLogModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/authroles/:
    post:
      tags:
      - authroles
      summary: Add or update authrole(s).
      operationId: addUsingPOST_2
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfAuthRolesModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AuthRolesResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - authroles
      summary: deletes authroles with given id(s)
      operationId: deleteTenantsUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/AuthRolesListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/authroles/id/{id}:
    get:
      tags:
      - authroles
      summary: Returns list of authroles.
      operationId: getAuthRoleUsingGET
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AuthRolesModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/cashposition/:
    post:
      tags:
      - cash-position-controller
      summary: "Get cash position for view, filter, and accounts"
      operationId: getCashPositionUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/CashPosRequestModel'
      responses:
        "200":
          description: Successfully calculated and returned Cash Position
          schema:
            $ref: '#/definitions/CashPosResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/cashposition/today/grid:
    get:
      tags:
      - cash-position-controller
      summary: Get transaction grid definition
      operationId: getGridDataUsingGET
      produces:
      - application/json
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridInfoModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/cashposition/today/summary/{viewId}:
    post:
      tags:
      - cash-position-controller
      summary: Get todays position for view
      operationId: getTodaysPositionUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: viewId
        in: path
        description: viewId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/TodaysPositionModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/cashposition/today/{viewId}:
    get:
      tags:
      - cash-position-controller
      summary: Get today's cash position details per view by account
      operationId: getCashPosAccountsUsingGET
      produces:
      - application/json
      parameters:
      - name: viewId
        in: path
        description: viewId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CashPosAccountResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/categorization/scheme:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a categorization scheme by name
      operationId: retrieveCategorizationSchemeByNameUsingGET
      consumes:
      - '*/*'
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: The name of the scheme being retrieved
        required: true
        type: string
        x-example: Assets
      responses:
        "200":
          description: Successfully retrieved categorization scheme by name
          schema:
            $ref: '#/definitions/CategorizationSchemeResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme for given scheme name
      security:
      - JWT: []
    post:
      tags:
      - Transaction Categorization Services
      summary: Create a categorization scheme
      operationId: createCategorizationSchemeUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationSchemeModel
        description: categorizationSchemeModel
        required: true
        schema:
          $ref: '#/definitions/CategorizationSchemeModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CategorizationSchemeResponseModel'
        "201":
          description: Successfully created categorization scheme
          schema:
            $ref: '#/definitions/CategorizationSchemeResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a categorization scheme
      operationId: retrieveCategorizationSchemeByIdUsingGET
      produces:
      - application/json
      parameters:
      - name: schemeId
        in: path
        description: The ID of the scheme being updated
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved categorization scheme
          schema:
            $ref: '#/definitions/CategorizationSchemeResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme for given scheme ID
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a categorization scheme
      operationId: updateCategorizationSchemeUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationSchemeModel
        description: categorizationSchemeModel
        required: true
        schema:
          $ref: '#/definitions/CategorizationSchemeModel'
      - name: schemeId
        in: path
        description: The ID of the scheme being updated
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully updated categorization scheme
          schema:
            $ref: '#/definitions/CategorizationSchemeResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme to update
      security:
      - JWT: []
    delete:
      tags:
      - Transaction Categorization Services
      summary: Delete a categorization scheme in entirety
      operationId: deleteCategorizationSchemeUsingDELETE
      produces:
      - application/json
      parameters:
      - name: schemeId
        in: path
        description: The ID of the scheme being deleted
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted categorization scheme
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme to delete
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/categorize:
    post:
      tags:
      - Transaction Categorization Services
      summary: Create a categorization
      operationId: createCategorizationUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationModel
        description: categorizationModel
        required: true
        schema:
          $ref: '#/definitions/CategorizationModelReq'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization is being added
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CategorizationModelRes'
        "201":
          description: Successfully created categorization
          schema:
            $ref: '#/definitions/CategorizationModelRes'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/categorize/batch:
    post:
      tags:
      - Transaction Categorization Services
      summary: Create a categorization batch
      operationId: createCategorizationBatchUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationModelList
        description: categorizationModelList
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/CategorizationModelReq'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization batch is being added
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CategorizationModelRes'
        "201":
          description: Successfully created categorization batch
          schema:
            type: array
            items:
              $ref: '#/definitions/CategorizationModelRes'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/categorize/{categorizationId}:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a categorization
      operationId: retrieveCategorizationUsingGET
      produces:
      - application/json
      parameters:
      - name: categorizationId
        in: path
        description: The ID of the categorization to retrieve
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved categorization
          schema:
            $ref: '#/definitions/CategorizationModelRes'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to either find categorization scheme or categorization
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a categorization
      operationId: updateCategorizationUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: categorizationId
        in: path
        description: The ID of the categorization to update
        required: true
        type: integer
        format: int64
        x-example: 999
      - in: body
        name: categorizationModel
        description: categorizationModel
        required: true
        schema:
          $ref: '#/definitions/CategorizationModelReq'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization being updated belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully updated categorization
          schema:
            $ref: '#/definitions/CategorizationModelRes'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to either find categorization scheme or categorization
      security:
      - JWT: []
    delete:
      tags:
      - Transaction Categorization Services
      summary: Delete a categorization
      operationId: deleteCategorizationUsingDELETE
      produces:
      - application/json
      parameters:
      - name: categorizationId
        in: path
        description: The ID of the categorization to delete
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization being deleted belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted categorization
          schema:
            type: boolean
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to either find categorization scheme or categorization
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/categorizor:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a categorizor by name
      operationId: retrieveCategorizationSpecificationByNameUsingGET
      consumes:
      - '*/*'
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: The name of the specification being retrieved
        required: true
        type: string
        x-example: OfficeSupplies
      responses:
        "200":
          description: Successfully retrieved categorizor by name
          schema:
            $ref: '#/definitions/RulesBasedTransactionCategorizerResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorizor for given name
      security:
      - JWT: []
    post:
      tags:
      - Transaction Categorization Services
      summary: Create a Categorizer
      operationId: createCategorizerUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizerModel
        description: categorizerModel
        required: true
        schema:
          $ref: '#/definitions/RulesBasedTransactionCategorizerModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the Categorizer is being added
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/RulesBasedTransactionCategorizerResponseModel'
        "201":
          description: Successfully created Categorizer
          schema:
            $ref: '#/definitions/RulesBasedTransactionCategorizerResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/categorizor/{categorizerId}:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a Categorizer
      operationId: retrieveCategorizerUsingGET
      produces:
      - application/json
      parameters:
      - name: categorizerId
        in: path
        description: The ID of the Categorizer to retrieve
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the Categorizer being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved Categorizer
          schema:
            $ref: '#/definitions/RulesBasedTransactionCategorizerResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or Categorizer
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a Categorizer
      operationId: updateCategorizerUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: categorizerId
        in: path
        description: The ID of the Categorizer to update
        required: true
        type: integer
        format: int64
        x-example: 999
      - in: body
        name: categorizerModel
        description: categorizerModel
        required: true
        schema:
          $ref: '#/definitions/RulesBasedTransactionCategorizerModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the Categorizer being updated belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved Categorizer
          schema:
            $ref: '#/definitions/RulesBasedTransactionCategorizerResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or Categorizer
      security:
      - JWT: []
    delete:
      tags:
      - Transaction Categorization Services
      summary: Delete a Categorizer
      operationId: deleteCategorizerUsingDELETE
      produces:
      - application/json
      parameters:
      - name: categorizerId
        in: path
        description: The ID of the Categorizer to update
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the Categorizer being updated belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted Categorizer
          schema:
            type: object
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or Categorizer
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/category:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a category by name
      operationId: retrieveCategoryUsingGET
      produces:
      - application/json
      parameters:
      - name: categoryName
        in: query
        description: The name of the category to retrieve
        required: true
        type: string
        x-example: Assets
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved category
          schema:
            $ref: '#/definitions/CategorizationSchemeModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or category
      security:
      - JWT: []
    post:
      tags:
      - Transaction Categorization Services
      summary: Add a category to a scheme
      operationId: createCategoryUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categoryModel
        description: categoryModel
        required: true
        schema:
          $ref: '#/definitions/CategoryModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being added belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CategoryModel'
        "201":
          description: Successfully created category
          schema:
            $ref: '#/definitions/CategoryModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme to add category to
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a set of categories for a company
      operationId: updateCategoriesUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categoryModels
        description: categoryModels
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/CategoryModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categories being updated belong
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully updated categories
          schema:
            $ref: '#/definitions/CategoryModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or category to update
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/category/{categoryId}:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a category
      operationId: retrieveCategoryByIdUsingGET
      produces:
      - application/json
      parameters:
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CategoryModel'
        "201":
          description: Successfully retrieved category
          schema:
            $ref: '#/definitions/CategorizationSchemeModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or category
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a category
      operationId: updateCategoryUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: categoryId
        in: path
        description: The ID of the category to update
        required: true
        type: integer
        format: int64
        x-example: 999
      - in: body
        name: categoryModel
        description: categoryModel
        required: true
        schema:
          $ref: '#/definitions/CategoryModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being updated belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully updated category
          schema:
            $ref: '#/definitions/CategoryModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or category to update
      security:
      - JWT: []
    delete:
      tags:
      - Transaction Categorization Services
      summary: Delete a category and all its subcategories
      operationId: deleteCategoryUsingDELETE
      produces:
      - application/json
      parameters:
      - name: categoryId
        in: path
        description: The ID of the category to retrieve
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted category and all its children
          schema:
            type: object
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Unable to either find categorization scheme, or category to delete"
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/category/{categoryId}/checkUsage:
    get:
      tags:
      - Transaction Categorization Services
      summary: "check the usage of category given by id, returns the count of transactions, plan items and adjustments using this category"
      operationId: checkCategoryUsageUsingGET
      produces:
      - application/json
      parameters:
      - name: categoryId
        in: path
        description: The ID of the category to reassign from
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully reasigned category
          schema:
            $ref: '#/definitions/CategoryUsageModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Unable to either find categorization scheme, category to reassign from or category to reassign to"
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/category/{categoryId}/reassign:
    post:
      tags:
      - Transaction Categorization Services
      summary: "Reassign a category to another, ensuring that all dependent entities are reassigned. The original category is deleted on success."
      operationId: reassignCategoryUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: categoryId
        in: path
        description: The ID of the category to reassign from
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the category being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      - name: targetCategoryId
        in: query
        description: The ID of the category to reassign to
        required: true
        type: integer
        format: int64
        x-example: 999
      responses:
        "200":
          description: Successfully reasigned category
          schema:
            type: object
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: "Unable to either find categorization scheme, category to reassign from or category to reassign to"
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/specification:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve all categorization specifications for a company
      operationId: retrieveCategorizationSpecificationsUsingGET
      consumes:
      - '*/*'
      produces:
      - application/json
      parameters:
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization specifications being retrieved belong
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Categorization specifications successfully retrieved
          schema:
            type: array
            items:
              $ref: '#/definitions/CategorizationSpecificationResponseModel'
        "400":
          description: Unable to find categorization scheme
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - Transaction Categorization Services
      summary: Create a categorization specification
      operationId: createCategorizationSpecificationUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationSpecificationModel
        description: categorizationSpecificationModel
        required: true
        schema:
          $ref: '#/definitions/CategorizationSpecificationModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization specification is being added
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CategorizationSpecificationResponseModel'
        "201":
          description: Successfully created categorization specification
          schema:
            $ref: '#/definitions/CategorizationSpecificationResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a set of categorization specifications
      operationId: updateCategorizatonSpecificationsUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationSpecificationModels
        description: categorizationSpecificationModels
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/CategorizationSpecificationModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categories being updated belong
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully updated categories
          schema:
            $ref: '#/definitions/CategorizationSpecificationResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or category to update
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/specification/bulk:
    post:
      tags:
      - Transaction Categorization Services
      summary: Delete categorization specifications in bulk
      operationId: deleteCategorizationSpecificationsBulkUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: categorizationSpecificationModels
        description: categorizationSpecificationModels
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/CategorizationSpecificationModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization specification being deleted belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted categorization specifications
          schema:
            type: object
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or categorization specification
      security:
      - JWT: []
  /cff/app/api/categorization/scheme/{schemeId}/specification/{categorizationSpecificationId}:
    get:
      tags:
      - Transaction Categorization Services
      summary: Retrieve a categorization specification
      operationId: retrieveCategorizationSpecificationUsingGET
      produces:
      - application/json
      parameters:
      - name: categorizationSpecificationId
        in: path
        description: The ID of the categorization specification to retrieve
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization specification being retrieved belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved categorization specification
          schema:
            $ref: '#/definitions/CategorizationSpecificationResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or categorization specification
      security:
      - JWT: []
    put:
      tags:
      - Transaction Categorization Services
      summary: Update a categorization specification
      operationId: updateCategorizationSpecificationUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: categorizationSpecificationId
        in: path
        description: The ID of the categorization specification to update
        required: true
        type: integer
        format: int64
        x-example: 999
      - in: body
        name: categorizationSpecificationModel
        description: categorizationSpecificationModel
        required: true
        schema:
          $ref: '#/definitions/CategorizationSpecificationModel'
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization specification being updated belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved categorization specification
          schema:
            $ref: '#/definitions/CategorizationSpecificationResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or categorization specification
      security:
      - JWT: []
    delete:
      tags:
      - Transaction Categorization Services
      summary: Delete a categorization specification
      operationId: deleteCategorizationSpecificationUsingDELETE
      produces:
      - application/json
      parameters:
      - name: categorizationSpecificationId
        in: path
        description: The ID of the categorization specification to update
        required: true
        type: integer
        format: int64
        x-example: 999
      - name: schemeId
        in: path
        description: The ID of the scheme to which the categorization specification being updated belongs
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted categorization specification
          schema:
            type: object
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find categorization scheme or categorization specification
      security:
      - JWT: []
  /cff/app/api/companies/:
    get:
      tags:
      - Company Management Services
      - companies
      summary: Returns all companies
      operationId: getCompaniesUsingGET
      produces:
      - application/json
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CompanyResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - Company Management Services
      - companies
      summary: Add or update Companies.
      operationId: addUsingPOST_3
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfCompanyModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CompanyResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    put:
      tags:
      - Company Management Services
      - companies
      summary: Update Companies.
      operationId: updateUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfCompanyModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CompanyResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - Company Management Services
      - companies
      summary: Deletes companies with given id(s)
      operationId: deleteCompaniesUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/CompanyListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/companies/company/{company}:
    get:
      tags:
      - Company Management Services
      - companies
      summary: Returns a company.
      operationId: getCompanyUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CompanyModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - Company Management Services
      - companies
      summary: Deletes a company with a given name
      operationId: deleteCompanyUsingDELETE
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/companies/intakes/:
    post:
      tags:
      - Company Management Services
      summary: Save Intake data
      operationId: saveIntakeResponsesUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: intakeRequest
        description: intakeRequest
        required: true
        schema:
          $ref: '#/definitions/IntakeRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/companies/intakes/form/{company}:
    get:
      tags:
      - Company Management Services
      summary: Get the Intake Form definition.
      operationId: getIntakeFormUsingGET
      produces:
      - '*/*'
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/IntakeFormResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/currencyrates/:
    post:
      tags:
      - currency rates
      summary: Add or update forecast adjustment(s).
      operationId: addUsingPOST_4
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfCurrencyRateModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CurrencyRateResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - currency rates
      summary: deletes currency rates with given id(s)
      operationId: deleteCurrencyRatesUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/CurrencyRateListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/currencyrates/fromCurrency/{fromCurrency}/toCurrency/{toCurrency}:
    get:
      tags:
      - currency rates
      summary: Returns list of rates assosciated to currency pair.
      operationId: getCurrencyRatesUsingGET
      produces:
      - application/json
      parameters:
      - name: fromCurrency
        in: path
        description: fromCurrency
        required: true
        type: string
      - name: toCurrency
        in: path
        description: toCurrency
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/CurrencyRateResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/forecastviews:
    post:
      tags:
      - ForecastView Management Services
      summary: Create new forecast view(s)
      operationId: saveAllUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: models
        description: models
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ForecastViewModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ForecastViewResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    put:
      tags:
      - ForecastView Management Services
      summary: Update forecast views with given transaction ids
      operationId: updateForecastViewUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: forecastViews
        description: forecastViews
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ForecastViewModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ForecastViewResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/forecastviews/:
    delete:
      tags:
      - ForecastView Management Services
      summary: deletes forecast views with given id(s)
      operationId: deleteForecastViewUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/ForecastviewRequestListModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/forecastviews/company/{company}:
    get:
      tags:
      - ForecastView Management Services
      summary: Get all forecast views
      operationId: getForecastViewsUsingGET
      produces:
      - '*/*'
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ForecastViewResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/forecastviews/delete/:
    post:
      tags:
      - ForecastView Management Services
      summary: deletes forecast views with given id(s)
      operationId: deleteForecastViewWithPostUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/ForecastviewRequestListModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/forecastviews/enums:
    get:
      tags:
      - ForecastView Management Services
      summary: get all the forecast view enums list
      operationId: getEnumsUsingGET
      produces:
      - application/json
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ForecastviewEnumsResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/forecastviews/id/{id}:
    get:
      tags:
      - ForecastView Management Services
      summary: Get forecast view of a given id
      operationId: getForecastViewUsingGET
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ForecastViewResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/goals/:
    post:
      tags:
      - goals
      summary: Add or update goal(s).
      operationId: addUsingPOST_5
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ItemListModelOfGoalModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GoalResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - goals
      summary: deletes goals with given id(s)
      operationId: deleteGoalUsingDELETE
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/GoalListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/goals/delete/:
    post:
      tags:
      - goals
      summary: deletes goals with given id(s)
      operationId: deleteGoalWithViewIdUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: ids
        description: ids
        required: true
        schema:
          $ref: '#/definitions/GoalListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/goals/viewId/{viewId}:
    get:
      tags:
      - goals
      summary: Returns list of goals assosciated to view.
      operationId: getGoalsUsingGET
      produces:
      - application/json
      parameters:
      - name: viewId
        in: path
        description: viewId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GoalResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/grid/:
    get:
      tags:
      - grid
      summary: Retrieve grid by name
      operationId: retrieveGridsUsingGET
      consumes:
      - '*/*'
      produces:
      - application/json
      parameters:
      - name: name
        in: query
        description: name
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridInfoResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - grid
      summary: Create a grid
      operationId: createGridUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: gridModel
        description: gridModel
        required: true
        schema:
          $ref: '#/definitions/GridInfoModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridInfoResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/grid/{gridId}:
    get:
      tags:
      - grid
      summary: Retrieve a grid
      operationId: retrieveGridUsingGET
      produces:
      - application/json
      parameters:
      - name: gridId
        in: path
        description: gridId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridInfoResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    put:
      tags:
      - grid
      summary: Update a grid
      operationId: updateGridUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: gridId
        in: path
        description: gridId
        required: true
        type: integer
        format: int64
      - in: body
        name: gridModel
        description: gridModel
        required: true
        schema:
          $ref: '#/definitions/GridInfoModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridInfoResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    delete:
      tags:
      - grid
      summary: Delete a grid
      operationId: deleteGridUsingDELETE
      produces:
      - application/json
      parameters:
      - name: gridId
        in: path
        description: gridId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/gridprofiles/:
    post:
      tags:
      - gridprofiles
      summary: Get grid profiles
      operationId: getGridProfilesUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: gridProfileModel
        description: gridProfileModel
        required: true
        schema:
          $ref: '#/definitions/GridProfileDefaultRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridProfileResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    put:
      tags:
      - gridprofiles
      summary: Add or update grid profile with given values
      operationId: saveGridProfileUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: gridProfileRequest
        description: gridProfileRequest
        required: true
        schema:
          $ref: '#/definitions/GridProfileModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/GridProfileResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/gridprofiles/default:
    post:
      tags:
      - gridprofiles
      summary: Set default profile for a grid
      operationId: setDefaultGridProfileUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: gridProfileRequest
        description: gridProfileRequest
        required: true
        schema:
          $ref: '#/definitions/GridProfileDefaultRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/gridprofiles/delete/id/{id}:
    post:
      tags:
      - gridprofiles
      summary: Delete grid profile with given id
      operationId: deleteGridProfileWithPostUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/gridprofiles/id/{id}:
    delete:
      tags:
      - gridprofiles
      summary: Delete grid profile with given id
      operationId: deleteGridProfileUsingDELETE
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
      security:
      - JWT: []
  /cff/app/api/inquiries/:
    post:
      tags:
      - data-retrieval-controller
      summary: "Get data for requested entity type, filter and sort values"
      operationId: getDataUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/ListRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ListResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/insights/:
    post:
      tags:
      - insights
      summary: Add or update insight(s).
      operationId: addUsingPOST_6
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: json
        description: json
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/InsightResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/insights/company/{company}:
    get:
      tags:
      - insights
      summary: Returns list of insights associated to company.
      operationId: getAllInsightsUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/InsightResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/insights/id/{id}:
    get:
      tags:
      - insights
      summary: Return an insight for specific id
      operationId: getInsightUsingGET
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/InsightResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/insights/initiate/{company}:
    get:
      tags:
      - insights
      summary: Initiate Insight check for company.
      operationId: initiateInsightsUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/machinelearning/company/{company}:
    get:
      tags:
      - machine learning
      summary: Get ML company data.
      operationId: getMLMetaDataUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/MlConfigResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - machine learning
      summary: Add or update ML company configuration data.
      operationId: addMLMetaDataUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/MlConfigModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/machinelearning/control/:
    get:
      tags:
      - machine learning
      summary: Get ML control data.
      operationId: getMLControlUsingGET
      produces:
      - application/json
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/MlControlResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - machine learning
      summary: Add or update ML control data.
      operationId: addMLControlUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: request
        required: true
        schema:
          $ref: '#/definitions/MlControlModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/machinelearning/testLogin/{company}:
    get:
      tags:
      - machine learning
      summary: '*** Only for testing. Test ML Login.  Returns the X-CSRF token to be used in subsequent calls.'
      operationId: getMLLoginUsingGET
      produces:
      - application/json
      parameters:
      - name: company
        in: path
        description: company
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ResponseHeader'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/machinelearning/testScoring/{viewId}:
    get:
      tags:
      - machine learning
      summary: '*** Only for testing. Test ML Login and Scoring.  Returns the predicted values.'
      operationId: getMLScoreSetUsingGET
      produces:
      - application/json
      parameters:
      - name: viewId
        in: path
        description: viewId
        required: true
        type: integer
        format: int64
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/ScoringResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/messages/{localeStr}:
    get:
      tags:
      - message-controller
      summary: Get localized text for use in UI for the given locale
      operationId: getLocaleUsingGET
      produces:
      - application/json
      parameters:
      - name: localeStr
        in: path
        description: localeStr
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/MessageModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/planning/:
    get:
      tags:
      - plan-service-controller
      summary: Returns a list of plans for a company
      operationId: getPlanModelsUsingGET
      produces:
      - application/json
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PlanModelsResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
    post:
      tags:
      - plan-service-controller
      summary: Create first version of plan
      operationId: createUsingPOST_6
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: inputModel
        description: inputModel
        required: true
        schema:
          $ref: '#/definitions/PlanResponseModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PlanModelsResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/planning/structure:
    post:
      tags:
      - plan-service-controller
      summary: Structures a plan configuration for a company
      operationId: structurePlanUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: planConfigRequestModel
        description: planConfigRequestModel
        required: true
        schema:
          $ref: '#/definitions/PlanConfigRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PlanModelsResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/planning/structure/{planId}:
    put:
      tags:
      - plan-service-controller
      summary: Restructures a plan configuration for a company
      operationId: restructurePlanUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: planConfigRequestModel
        description: planConfigRequestModel
        required: true
        schema:
          $ref: '#/definitions/PlanConfigRequestModel'
      - name: planId
        in: path
        description: The ID of the plan being restructured
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/PlanModelsResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      security:
      - JWT: []
  /cff/app/api/planning/{planId}:
    get:
      tags:
      - plan-service-controller
      summary: Retrieve a plan
      operationId: retrieveUsingGET_6
      produces:
      - application/json
      parameters:
      - name: planId
        in: path
        description: The ID of the plan being retrieved
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully retrieved plan
          schema:
            $ref: '#/definitions/PlanModelsResponseModel'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find plan for given ID
      security:
      - JWT: []
    put:
      tags:
      - plan-service-controller
      summary: Update a plan
      operationId: updateUsingPUT_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: inputModel
        description: inputModel
        required: true
        schema:
          $ref: '#/definitions/PlanResponseModel'
      - name: planId
        in: path
        description: The ID of the Plan being updated
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully updated Plan
          schema:
            $ref: '#/definitions/PlanModelsResponseModel'
        "201":
          description: Created
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find Plan to update
      security:
      - JWT: []
    delete:
      tags:
      - plan-service-controller
      summary: Delete a plan
      operationId: deleteUsingDELETE_8
      produces:
      - application/json
      parameters:
      - name: planId
        in: path
        description: The ID of the plan being retrieved
        required: true
        type: integer
        format: int64
        x-example: 888
      responses:
        "200":
          description: Successfully deleted plan
          schema:
            $ref: "#/definitions/Error-ModelName{namespace='java.lang', name='Void'}"
        "204":
          description: No Content
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Unable to find plan for given ID
      security:
      - JWT: []
  /cff/app/api/reconciliation/:
    post:
      tags:
      - transaction-reconciliation-controller
      summary: Returns a list of matches for a transaction
      operationId: getTransactionReconciliationModelsUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: transactionReconciliationRequestModel
        description: transactionReconciliationRequestModel
        required: true
        schema:
          $ref: '#/definitions/TransactionReconciliationRequestModel'
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/TransactionReconciliationResponseModel'
        "201":
          description: Created
        "401":
[...]
